

<div *ngIf="project$ | async as project">
  <div class="jumbotron">
    <h1 class="display-4">{{project?.name}}</h1>
    <p class="lead">{{project?.description}}</p>
    <hr class="my-4">
    <p>
      <span>Data Inizio: {{project?.startDate | date:'dd/MM/yyyy'}}</span>
      <span *ngIf="project?.end">- Data Fine: {{project?.end | date:'dd/MM/yyyy'}}</span>
    </p>
    <button class="btn btn-warning btn-sm" routerLink="/projects/update/{{project.id}}">Modifica</button>
  </div>
  <table class="table table-sm" *ngIf="project.projectTasks?.length; else notasks">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Data Inizio</th>
        <th scope="col">Durata (ore)</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projectTask of project.projectTasks; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ projectTask.name }}</td>
        <td>{{ projectTask.startDate | date:"dd/MM/yyyy"}}</td>
        <td>{{ projectTask.duration }}</td>
        <td><span class="badge"
            [ngClass]="{'badge-success': projectTask.isBillable, 'badge-danger': !projectTask.isBillable}">F</span></td>
      </tr>
    </tbody>
  </table>
  <ng-template #notasks>
    <div class="alert alert-warning">Nessun Task Presente</div>
  </ng-template>
</div>
