<!-- <div class="row mt-5 justify-content-end">
    <div class="col-8">
        <h2>Elenco progetti</h2>
    </div>
    <div class="col text-right">
        <button class="btn" class="btn btn-primary" routerLink="/projects/add">Aggiungi Progetto</button>
    </div>
  </div>
  <hr/> -->

  <hw-header [title]="'Elenco progetti'" [buttonType]="'btn-primary'" [buttonLabel]="'Aggiungi Progetto'" [buttonLink]="'/projects/add'" ></hw-header>


<div class="card-columns">
  <div *ngFor="let project of (projects$ | async)">
              <!-- |  searchFilter: 'name' : searchedProject?.name 
              |  searchFilter: 'priority' : searchedProject?.priority 
              |  searchFilter: 'done' : searchedProject?.done" -->
      <div class="card" [ngClass]="{'border-info': project.completed, 'border-warning': !project.completed }">
          <div class="card-body">
               <h5 class="card-title"> {{ project.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                  <small>{{ project.startDate | date: 'dd/MM/yyyy' }}</small>
                  <small *ngIf="project.endDate"> - {{ project.endDate | date: 'dd/MM/yyyy' }}</small>
              </h6>
              <p class="card-text">{{ project.description }}</p>
              <h5>Ore Spese: {{project.spentHours}} </h5>
              <a href="#" class="btn btn-primary btn-sm" [routerLink]="['/projects/detail', project?.id]">Vai al Progetto</a>
          </div>
      </div>
  </div>
</div>